/*CSS for Merina Grey cntact page
 * Sebastien Beauge 11/29/2017*/


body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.page-header {
    text-align: center;
    font-family: Impact;
}